#haber_table, #haber_bg{
	background: url("../H_images/industrial.jpg") 0 0 repeat-y;
	width:1024px;
	height: 760px;
	margin:0 auto;
	font-family:helvetica;
	text-align: center;
	padding-bottom: 10px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	overflow: hidden;
}

.header{
	background-color:rgba(0,0,0,.65);
	height: 65px;
	margin-bottom: .75em;
}
.header h1{
	font-size: 20px;
	color: #7ac5ca;
	text-shadow:1px 1px 1px #000000;
	text-align: left;
	width: 670px;
	float: left;
	padding-left: 15px;
}


table.table3{
	margin: 20px auto;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.3em;
    text-align:center;
    border-collapse:collapse;
	width: 97%;
}

.table3 thead th{
    padding:7px;
    text-transform:uppercase;
   background-color:rgba(0,0,0,.65);
    font-weight:bold;
    text-shadow:1px 1px 1px #000000;
	letter-spacing: .06em;

	text-align: center;
	border-right: 1px solid #a1a1a1;
	color: #7ac5ca;
}
.table3 th.chemistry {
color: #b2fdd7;
}

.table3 thead :nth-child(1){
    -moz-border-radius:5px 0px 0px 0px;
    -webkit-border-top-left-radius:5px;
    border-top-left-radius:5px;
}
.table3 th.cost{
    color: #caae7a;
	border-right: 1px solid #a1a1a1;
}
.table3 thead :nth-child(13){
    -moz-border-radius:0px 5px 0px 0px;
    -webkit-border-top-right-radius:5px;
    border-top-right-radius:5px;
	border-right: none;
}

.table3 tbody tr:nth-of-type(odd){
	  background-color:#ccc; 
	  color:#000;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(189,189,189)),
        color-stop(0.7, rgb(224,224,224))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(189,189,189) 39%,
        rgb(224,224,224) 70%
        );
    text-shadow:1px 1px 1px #fff;	
}

.table3 tbody tr:nth-of-type(even){
	background-color: #555;
	color:#f0f0f0;
  
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.39, rgb(135,135,135)),
        color-stop(0.7, rgb(155,155,155))
        );
    background:-moz-linear-gradient(
        center bottom,
        rgb(85,85,85) 39%,
        rgb(105,105,105) 70%
        );
    text-shadow:1px 1px 1px #444;
}

.table3 tbody td{
    padding:6px;
	  border-right: 1px solid #a1a1a1;
	  border-bottom: 1px solid #666666;
	  text-align: center;
	  font-size: 11.5px;
	  letter-spacing: .06em;
}

.table3 tbody td:first-child {
	border-left: none;	
}

.table3 tbody td:last-child {
	border-right: none;	
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

.header_interactive{
	/*display: none;*/
}

.header_interactive img{
	display: none;
}	

.header_interactive h2{
	display: none;
}
.anim_big, .anim_small{
		
	text-align: left;
	padding: 20px 10px 10px 10px;
}

.anim_small{
	background: url('../H_images/bg_outside5.png') 0 0 no-repeat;
	width: 358px;
	height: 220px;
	margin-left: -20px;
	position: relative;
	padding: 0;
}

.anim_big{
	width: 630px;
	height: 240px;	
	position: relative;
	background: url('../H_images/bg_inside3.png') 0 0 no-repeat;
}


.truck{
	width: 300px;
	height: 180px;
	background: url('../H_images/truck.png') 2px 90px no-repeat;
	position: absolute;
	z-index: 20;
	right: 0px;
	margin-top: 35px;
}

.control_panel, .output_mon{
	   background-color:rgba(0,0,0,.65);
	   
}



.control_panel{
	width: 648px;
	height: 406px;
	margin-top: 5px;
	border: 1px solid #e8e8e8; 
		
}

.control_panel a{
	color: #b2fdd7;
	text-decoration: none;
}

.control_panel a:hover{
	color: #5b816e;	
}

.output_mon a{
	color: #caae7a;
	text-decoration: none;
}


.output_mon a:hover{
	color: #63543D;
}

.profit a,.gain a,.loss a{
	color: #eaeaea;
	text-decoration: none;
}


.profit a:hover,.gain a:hover,.loss a:hover{
	color: #686868;
}
.overlay_int {
	width: 275px;
	display: none;	
}

.overlay_int h5{
	color: #1d1d1d;
	text-transform: uppercase;
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 2px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: .75em;
}

.overlay_int p{
	color: #1d1d1d1d;	
}

.output_mon, .profit,.gain,.loss{
	width: 327px;
	height: 390px;
	margin-top: -45px;
	margin-left: -15px;	
	border: 1px solid #e8e8e8; 
	position: relative;
}

.profit{
	height: 59px;
	margin-top: 5px;
	background-color:rgba(0,0,0,.65);;	
}

.gain {
	height: 59px;
	margin-top: 5px;
	background-color:rgba(51,125,88,.78);	
}
.loss{
	height: 59px;
	margin-top: 5px;
	background-color:rgba(201,60,42,.78);		
}

.control_panel h4, .control_panel h5, .output_mon h4{
	color: #b2fdd7;
	text-transform: uppercase;
	letter-spacing: .08em;
	border-bottom: 1px solid #e8e8e8;
	padding: 2px 0 8px 0;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 5px;
}

.control_panel h4 span img{
	margin-top: -5px;
}

.output_mon h4{
	color: #caae7a;	
}

.embossed {
	text-shadow:0 -1px 0 rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.4);
}

.variables{
	text-align: left;
	width: 140px;
	height: 140px;
	float: left;
	margin: 8px 0 0 27px;
	background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,.5) 0%, rgba(14,14,14,.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,.5)), color-stop(100%,rgba(14,14,14,.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(125,126,125,.5) 0%,rgba(14,14,14,.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(125,126,125,.5) 0%,rgba(14,14,14,.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(125,126,125,.5) 0%,rgba(14,14,14,.5) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(125,126,125,.5) 0%,rgba(14,14,14,.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807d7e7d', endColorstr='#800e0e0e',GradientType=0 ); /* IE6-9 */
padding: 0 20px 5px 20px;
box-shadow: 2px 2px 3px #333;
color: #eaeaea;
}

.variables img{
	cursor: pointer;	
}

.control_panel h5{	
	font-size: 16px;
	border-bottom: none;
	padding: 2px;
	text-transform: inherit;
	text-align: center;
	cursor: pointer;
}

.buttons{
	float: left;
	margin-right: .75em;
}

.buttons img{
	display: block;
	margin-bottom: .5em;
}

.variables span{
	position: relative;
	bottom: -1.25em;	
}
input.panel_input {
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding: 2px;
	display: inline;
	margin-top: 2.25em;
}
.ie10 input.panel_input {
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding: 0px;
	display: inline;
	margin-top: 2.25em;
}
.catalysts label{
	color: #eaeaea;
	font-weight: bold;
	font-size: 1em;
	margin-bottom: .75em;
	
}
.catalysts input{
	margin-bottom: .2em;
	
}
.run_btn{
	padding: 8px 25px;
	font-size: 20px;
}

.output_mon td{
	padding-bottom: .5em;	
}
.output_mon td.output_label label{
	color: #caae7a;	
	font-size: 16px;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3), 0 1px 0 rgba(255,255,255,0.4);
	width: 148px;
	text-align: left;
	padding: .5em;
	letter-spacing: .06em;
	font-size: 15px;
	[font-size: 15px;
	font-size: 16px;]

	 
}

.output_mon td.output_input input, .profit td.profit_input input, .gain td.profit_input input, .loss td.profit_input input{
	color: #eaeaea;
	text-align: right;
	background-color: #333;
	border: 1px solid #eaeaea;
	padding: 2px;
}

.profit td.profit_input input, .gain td.profit_input input, .loss td.profit_input input{
	font-size: 1.15em;
	margin-top: .25em;
}

.output_mon td.output_unit, .profit td.profit_unit, .gain td.profit_unit, .loss td.profit_unit{
	color: #eaeaea;
	font-weight: bold;
	font-size: .95em;
	position: relative;
  	line-height: 0;
  	vertical-align: middle;
	text-align: left;
  	top: -0.3em;
	left: .15em;
	letter-spacing: .06em;
	top: -0.5em;
	[top: -0.5em;
	top: -0.3em;]
}

.profit td.profit_unit, .gain td.profit_unit, .loss td.profit_unit{
	font-size: 1.1em;
	letter-spacing: .08em;
	top: -0.1em;	
}
.profit table, .gain table, .loss table{
	margin-top: .45em;	
	
}

.profit td.profit_label label, .gain td.profit_label label, .loss td.profit_label label{
	font-size: 24px;
	color: #eaeaea;
	text-shadow:1px -1px 1px rgba(0,0,0,0.8); 
	width: 127px;
	text-align: left;
	padding: .6em .35em .55em .35em;
	letter-spacing: .08em;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
 margin: .25em 4em 0 4em;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 14px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;
  background-image: linear-gradient(top, rgba(255,255,255,1),
                                         rgba(255,255,255,0)),
                    url(data:image/png;base64,iVBORw0KGg[...]QmCC); 
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
              0 2px 2px -1px rgba(0, 0, 0, .5),
              0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);  
}

.button:hover{
  background-color: #eee;
  color: #555;
}

.button:active{
  background: #e9e9e9;
  position: relative;
  top: 1px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

.button.large{
  padding: 12px 30px;
  text-transform: uppercase;
}

.button.large:active{
  top: 2px;
}

.button.color{
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  background-image: linear-gradient(top, rgba(255,255,255,.3), 
  					 rgba(255,255,255,0)),
                    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
}

/* */

.button.teal{
  background-color: #2e9297;
  border-color: #2e9297;
}

.button.teal:hover{
  background-color: #35aab0;
}

.button.teal:active{
  background: #2e9297;
}

/* */

.button.green{
  background-color: #337d58;
  border-color: #337d58;
   margin: .25em 2em 0 2em;
}

.button.green:hover{
  background-color: #3e966a;
}

.button.green:active{
  background: #337d58;
}

.button.plant{
	line-height: 1.2;
	text-transform: inherit;
	padding: 6px 10px;
	margin: .65em 0 0 0;
}

.button.print{
	margin: 0;
}

.button.dkgray{
	background-color: #666;	
	 border-color: #666;
	 margin: .65em .45em 0 .35em;
}

.button.dkgray:hover{
  background-color: #999;
}

.button.dkgray:active{
  background: #666;
}
		
		.name_container{
			display: none;	
		}