#haber_table{
	background: none;
	width:1024px;
	height: 670px;
	margin:0 auto;
	font-family:helvetica;
	text-align: center;
	padding-bottom: 10px;

}

#haber_table{
	margin-top: 1em;
	width: 100%;	
}

.header_interactive{
text-align: left;	
}

.header{
	background-color:none;
}
.header h1{
	font-size: 22px;
	color: #333;
	text-shadow:none;
	text-align: left;
	width: 100%;
	float: none;
	padding-left: 0;
}


table.table3{
	margin: 10px 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: -1px;
    line-height: 1.3em;
    text-align:center;
    border-collapse:collapse;
	width: 97%;
	border: 1px solid #666;
	font-family:helvetica;
	background-color: white;
}

.table3 thead th{
    padding:7px;
    text-transform:uppercase;
   background-color:#ccc;
    text-shadow:none;
	letter-spacing: .05em;
	font-size: 12px;
	text-align: center;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	color: #333;
}
.table3 th.chemistry {
color: #333;
}

.table3 thead :nth-child(1){
    -moz-border-radius:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.table3 th.cost{
	
}
.table3 thead :nth-child(13){
    -moz-border-radius:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
	border-right: none;
}

.table3 tbody tr:nth-of-type(odd){
	  background-color:white; 
	  color:#333;
    text-shadow:none;	
}

.table3 tbody tr:nth-of-type(even){
	background-color: #ccc;
	color:#333;
  
    text-shadow:none;
}

.table3 tbody td{
    padding:8px;
	  border-right: 1px solid #666666;
	  border-bottom: 1px solid #666666;
	  text-align: center;
	  font-size: 12px;
}

.table3 tbody td:first-child {
	border-left: none;	
}

.table3 tbody td:last-child {
	border-right: none;	
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

#haber_table button{
display: none;
}

.name_container{
			float: right;	
		}
		p.name_user{
			float: left;
			margin-top: -25px;
			color: #333;
		}
		
		p.name_user span{
			border-bottom: 1px solid #333;
			width: 300px;
			display: inline-block;
			border-top: 1px solid #333;
		}
		
.header_interactive{
	width: 100%;
	background: white;
	text-align: left;
	padding: 1em;
}

.header_interactive img{
	width: 250px;
	margin-top: -5px;
}	

.header_interactive h2{
	font-size: 22px;
	line-height:1;
	margin-bottom: 0;
}
		